<!-- haya bas file html, bas l extension .ejs kerml e2der et3amal ma3 l service wl controller -->
 <!-- l typeScript ma bya3ref shi 3an hayda l file fa lezm ne3ml manually bl nest-cli.json  -->
<div style="font-family: sans-serif">
  <h2 style="color: blue">
    Hello <span style="color: #222"> <%= email %> </span>
  </h2>

  <p style="color: gray">You logged in to your account in <%= today.toDateString() %> at <%= today.toLocaleTimeString() %></p>

  Thanks
</div>
