<div style="font-family: sans-serif">
  <h2 style="color: #555">Reset your password</h2>

  <a href="<%= resetPasswordLink %>" style="color: #555">
    Click here to reset your password
  </a>
</div>
